/* --現在地の表示設定-- */

@-moz-keyframes pulsate {
    from {
        -moz-transform: scale(0.25);
        opacity: 1.0;
    }
    95% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -moz-transform: scale(0.3);
        opacity: 0;
    }
}
@-webkit-keyframes pulsate {
    from {
        -webkit-transform: scale(0.25);
        opacity: 1.0;
    }
    95% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(0.3);
        opacity: 0;
    }
}
#map_canvas div[title="現在地"] {
    -moz-animation: pulsate 1.5s ease-in-out infinite;
    -webkit-animation: pulsate 1.5s ease-in-out infinite;
    border: 1pt solid #fff;
    /* make a circle */
    
    -moz-border-radius: 51px;
    -webkit-border-radius: 51px;
    border-radius: 51px;
    /* multiply the shadows, inside and outside the circle */
    
    -moz-box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    -webkit-box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    /* set the ring's new dimension and re-center it */
    
    height: 51px!important;
    margin: -18px 0 0 -18px;
    width: 51px!important;
}
#map_canvas div[title="現在地"] img {
    display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
    #map_canvas div[title="現在地"] {
        margin: -10px 0 0 -10px;
    }
}
/* end --現在地の表示設定-- */
/*
A custom Bootstrap 3.1 theme from http://bootply.com\

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

#main, #main>.row {
    height: 100%;
}
#main>.row {
    overflow-y: scroll;
}
#left {
    height: 100%;
    padding-top: 60px; /* modify */
}
#map_canvas {
    /*width: 33.3333%;*/
    width: 57.5555%;
    height: calc(100% - 0);
    position: absolute;
    right: 16px;
    top: 50px;
    bottom: 0;
    overflow: hidden;
}
/* end --A custom Bootstrap 3.1 theme from http://bootply.com\-- */

/* original */
.panel-heading {
    font-size: 15px;
}
.list-group-item img {
    margin-right:20px;
    height:45px;
    width:45px;
}

.list-group-item a {
    font-size: 14px;
}