.navbar-custom .icon-bar {
  background-color:#fff;
}

.navbar-custom {
  background-color: #969BA0;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
  background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
  border-color: #49bfff;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
}

html,body{
    height:100%;
}

.glyphicon {
  float:left;
  padding: 15px 0 15px 0;
}

.nav>li>a {
  padding: 15px 20px 15px 5px !important;
}


.space {
  display:block;
}

.svg a {
  color: white;
  font-size:60px;
}

.svg_font{
  font-size:20px;
}

@font-face {
 font-family: 'icomoon';
 src:url('/images/fonts/top_page/icomoon.eot?z3w9xo');
 src:url('/images/fonts/top_page/icomoon.eot?#iefixz3w9xo') format('embedded-opentype'),
  url('/images/fonts/top_page/icomoon.woff?z3w9xo') format('woff'),
  url('/images/fonts/top_page/icomoon.ttf?z3w9xo') format('truetype'),
  url('/images/fonts/top_page/icomoon.svg?z3w9xo#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
 font-family: 'icomoon';
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 0;

 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
 content: "\e900";
}

.icon-camera:before {
 content: "\e90f";
}

.icon-location2:before {
 content: "\e948";
}

.icon-arrow-up:before {
 content: "\ea32";
}

.icon-arrow-up2:before {
 content: "\ea3a";
}

.icon-circle-up:before {
 content: "\ea41";
}

.icon-shift:before {
 content: "\ea4f";
}

.icon-ctrl:before {
 content: "\ea50";
}

.icon-camera2:before {
 content: "\e600";
}

.icon-location:before {
 content: "\e601";
}

.icon-world:before {
 content: "\e602";
}

.pagetop {
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size:40pt;
}
