<!-- <div id="area_name"></div> -->
<div id="map_canvas"></div>

<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-5" id="left">
    
<!--     リストの基本構造 -->
 <!--      <h2>Bootstrap Google Maps Demo</h2> -->
      
      <!-- item list -->
<!--       <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</p>
      
      <hr> -->

  </div>
</div>

<script type="text/javascript">
/*----------------- Global Value -------------------*/
 var myLocationMarker = new google.maps.MarkerImage(
  'http://waox.main.jp/png/source-bluedot.png',
  null, // size
  null, // origin
  new google.maps.Point( 8, 8 ), // anchor (move to center of marker)
  new google.maps.Size( 17, 17 ) // scaled size (required for Retina display icon)
 );

 var destinationMarker = new google.maps.MarkerImage(
  'http://maps.google.co.jp/mapfiles/ms/icons/red-pushpin.png',
  null, // size
  null, // origin
  new google.maps.Point( 8, 8 ), // anchor (move to center of marker)
  new google.maps.Size( 25, 25 ) // scaled size (required for Retina display icon)
 );

 var myLocation; //緯度経度をhashで格納
 //google mapオブジェクト
 var mapCanvas = new google.maps.Map(document.getElementById("map_canvas"));

 var infowindow = new google.maps.InfoWindow({
     size: new google.maps.Size(50,50)
   });
 var currentInfoWindow = null; //最後に開いた情報ウィンドウを記憶

 var areas = gon.areas;
 var gmarkers = [];

/*----------------- End of Global Value -------------------*/

/*----------------- initialize -------------------*/
 jQuery(function($) {
     // gps に対応しているかチェック
     if (! navigator.geolocation) {
         $('#map_canvas').text('GPSに対応したブラウザでお試しください');
         return false;
     }

     $('#map_canvas').text('GPSデータを取得します...');

     // gps取得開始
     navigator.geolocation.getCurrentPosition(function(pos) {
      //現在地をハッシュに代入
      myLocation = {lat: pos.coords.latitude, lng: pos.coords.longitude};
         // gps 取得成功
         // google map 初期化
         var mapCanvas = new google.maps.Map($('#map_canvas').get(0), {
             center: new google.maps.LatLng(39.618033, 141.496033),  //桜木町駅を中心に
             mapTypeId: google.maps.MapTypeId.ROADMAP,
             zoom: 8
         });
         //地図のある地点がクリックされたら、開かれている情報ウィンドウを閉じる
         google.maps.event.addListener(mapCanvas, "click", function() {infowindow.close();});

         // 現在位置にピンをたてる
         var currentPos = new google.maps.LatLng(myLocation.lat, myLocation.lng);
         var currentMarker = new google.maps.Marker({
              flat: true,//・・・・・・アイコンにtrueで影を付けない
              icon: myLocationMarker,
              map: mapCanvas,
              optimized: false,
              title: '現在地',
              visible: true,
              position: currentPos
         });

         currentMarker.setMap(mapCanvas);

         // 誤差を円で描く
         new google.maps.Circle({
             map: mapCanvas,
             center: currentPos,
             radius: pos.coords.accuracy, // 単位はメートル
             strokeColor: '#0088ff',
             strokeOpacity: 0.8,
             strokeWeight: 1,
             fillColor: '#0088ff',
             fillOpacity: 0.2
         });

         // 現在地にスクロールさせる
         //mapCanvas.panTo(currentPos);

         //DBに登録されているスポットをマップ上にマーカー表示(function)
         make_marker(mapCanvas);

         //現在地の逆ジオコーディング(座標から住所)(function)
         // get_area_name(currentPos);

         //写真一覧のテーブルを表示
         make_list();

     }, function() {
         // gps 取得失敗
         $('#mapCanvas').text('GPSデータを取得できませんでした');
         return false;
     });

 });

/*----------------- Function -------------------*/

 function get_area_name(latLng_now){
  // 座標から住所名を取得
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({latLng: latLng_now}, function(results, status){
   if(status == google.maps.GeocoderStatus.OK){
   document.getElementById("area_name").innerHTML = results[0].formatted_address+'付近にいます';
   }
   else {
   // エラーの場合
   }
  });
 }

 function make_marker(map) {
  for (var i = 0; i < areas.length; i++) {
   //マーカーを作成
   var marker = new google.maps.Marker({
       position : new google.maps.LatLng(areas[i].latitude, areas[i].longitude),
       icon: destinationMarker,
       map: map,
      });
   var j = i + 1;
   marker.setTitle(j.toString());
   gmarkers[i] = marker;
   attachSecretMessage(marker, i, map, areas[i]);
  }
 }

 // 情報ウィンドウを表示する,クリックで表示
 // but that message is not within the marker's instance data.
 function attachSecretMessage(marker, number, map, area) {
  //インフォウィンドウの作成
  // var infowindow = new google.maps.InfoWindow({
  //   content: area['ja'] + "<br/>" +
  //    "<a href='/map/lists?area=" + area.ja +
  //     "&amp;lat=" + myLocation.lat + "&amp;lng=" + myLocation.lng + "'>この付近をもっと詳しく</a>",
  //    //size: new google.maps.Size(50,50)
  // });

  // 新しい情報ウィンドウを開いた時、すでに開かれているウィンドウを閉じる
  google.maps.event.addListener(marker, 'click', function() {
    if (currentInfoWindow) {
      currentInfoWindow.close();
    }
    infowindow.setContent( area['ja'] + "<br/>" +
      "<a href='/map/lists?area=" + area.ja +
       "&amp;lat=" + myLocation.lat + "&amp;lng=" + myLocation.lng + "'>この付近をもっと詳しく</a>");
    infowindow.open(map,marker);
    currentInfoWindow = infowindow;
  });
 }

 // function make_list() {
 //  //console.log(areas);
 //  var innerHTML = "";
 //  for (var i = 0; i < areas.length; i++) {
 //   innerHTML += '<li class="span' + i+1 + '"><button type="button" class="btn btn-info" onclick="location.href='+"'/map/lists?area=" + areas[i]['ja'] + "&amp;lat=" + myLocation.lat + "&amp;lng=" + myLocation.lng + "'" + '">' + areas[i]['ja'] + '</button></li>';
 //  }
 //  console.log(innerHTML);

 //  document.getElementById('btns').innerHTML = innerHTML;
 // }

 function make_list() {
  //console.log(areas);
  var innerHTML = '<div class="panel panel-default"> <div class="panel-heading">一覧表示</div> <div class="panel-body"> <ul class="list-group">';
   for (var i = 0; i < areas.length; i++) {
        // innerHTML += '<div class="panel panel-default"> <div class="panel-heading"> <a href="#" onClick="list_click('+ i + ')">' + areas[i].ja + '</a> </div> </div> <div class="panel-body"> <img src="/images/characters/' + areas[i].area + '.jpg", height="60" width="60" alt="'+ areas[i].ja + '>"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Aliquam in felis sit amet augue.</p> </div> <hr>';
        innerHTML += '<li class="list-group-item"><a href="#" onClick="list_click('+ i + ')">' + '<img src="/images/characters/' + areas[i].area + '.jpg", alt="'+ areas[i].ja + '></a><a href="#" onClick="list_click('+ i + ')">' + areas[i].ja + '</a></li>';
   }

  innerHTML += '</ul> </div> </div>';


  document.getElementById('left').innerHTML = innerHTML;
 }

 function list_click(i) {
    google.maps.event.trigger(gmarkers[i], "click");
}
</script>